<div class="container mt-4">

  <div class="row">
    <div class="col-12">

      <div class="card">

        <div class="card-header">
          <h1>User Management</h1>
        </div>

        <div class="card-body">
          <div class="list-group">
            <div id="{{user.id}}" class="list-group-item"
                  *ngFor="let user of users; let i=index;"
                  >

              <div class="row">
                <div class="col-10 col-sm-11">
                  <div class="row">
                    <div class="col-8 col-sm-4">
                      <strong>Username</strong>
                      <br>{{user.username}}
                    </div>
                    <div class="col-4 col-sm-4 text-right text-sm-left">
                      <strong>ID</strong>
                      <br>{{user.id}}
                    </div>
                    <div class="col-12 col-sm-4">
                      <strong>Registered since</strong>
                      <br>{{user.registered | date:'mediumDate'}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6 col-sm-4">
                      <strong>Surname</strong>
                      <br>{{user.lastname}}
                    </div>
                    <div class="col-6 col-sm-4 text-right text-sm-left">
                      <strong>Name</strong>
                      <br>{{user.firstname}}
                    </div>
                    <div class="col-12 col-sm-4">
                      <strong>E-Email</strong>
                      <br>{{user.email}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 col-sm-4">
                      <strong>Role</strong>
                      <br>{{user.role}}
                    </div>
                  </div>
                </div>
                <div class="col-2 col-sm-1 text-center">
                  <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-pencil-square clickable menu_warning" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                        [routerLink]="['/profile', user.id]"
                        >
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>

